.dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;


    .page {
        background: #f5f6f8;
        border: 1px solid rgb(218, 222, 224);
        border-bottom: none;
        flex: 1;
    }

    .preview {
        background: #f5f6f8;
        border-top: 1px solid rgb(218, 222, 224);
    }

    @media only screen and (min-width: 768px) {
        & {
            display: grid;
            grid-template-columns: 64px 1fr 300px;
            grid-template-rows: max-content;
        }

        .menu {
            grid-column: 2 / 3;
            grid-row: 1;
        }


        header {
            grid-row: span 2;
        }

        .preview {
            background: #f5f6f8;
            border-top: 1px solid rgb(218, 222, 224);
        }
    }

    @media only screen and (min-width: 992px) {
        & {
            grid-template-columns: 64px 1fr 435px;
        }

        .menu,
        .toolbar {
            height: 64px;
        }
    }

    @media only screen and (min-width: 1260px) {
        & {
            grid-template-columns: 64px 1fr 570px;
        }
    }
}