.menu {
    height: 48px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(218, 222, 224);
    border-width: 0 1px;
    padding: 0 1.5rem;

    a {
        display: flex;
        height: 100%;
        align-items: center;
        margin-right: 2.5rem;
        text-decoration: none;
        color: #222;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            transition: width 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
        }

        &:hover {
            &:after {
                width: 100%;
                background: rgb(216, 216, 216);
            }
        }


        &.active {
            &:after {
                width: 100%;
                background: #000;
            }
        }
    }
}