.link-container {
  margin-bottom: 1rem;

  .link__message {
    transform-origin: top;
    opacity: 0;
    transform: scaleY(0);
    animation: enter 500ms forwards;
    .title {
      display: flex;
      justify-content: center;
      position: relative;
      padding: 0.3rem;
      align-items: center;
      .close {
        position: absolute;
        right: 10px;
        font-size: 1.3rem;
        top: 0;
        opacity: 0.3;
        transition: opacity 300ms;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .message {
      background: #fff;
      padding: 1rem;
      text-align: center;
    }

    .delete-component {
      .actions {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
      }
    }
  }
}
.link {
  background: #fff;

  height: 120px;
  border-radius: 5px;
  display: flex;
  &__handle {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    border-right: 1px solid #d7dce1;
    cursor: move;
    svg {
      fill: #acb5bf;
      width: 20px;
    }
  }

  &__content {
    padding: 1rem 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    .input {
      display: flex;
      svg {
        color: #bec1c3;
      }
      input {
        border: none;
        outline: none;
        font-size: 0.9rem;
      }
      &.link__title {
        margin-bottom: 0.5rem;
        font-weight: bold;

        input {
          font-weight: bold;
          font-size: 1rem;
        }
      }
    }
  }

  &__actions {
    display: flex;
    margin-top: auto;
    > div {
      margin-right: 1rem;
      opacity: 0.5;
      cursor: pointer;
      transition: opacity 300ms ease;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__status {
    padding: 1rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .trash {
      opacity: 0.5;
      cursor: pointer;
      transition: opacity 300ms ease;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@keyframes enter {
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
