.link {
  background: #fff;
  margin-bottom: 1rem;
  height: 110px;
  border-radius: 5px;
  display: flex;
  &__handle {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    border-right: 1px solid #d7dce1;
    cursor: move;
    svg {
      fill: #acb5bf;
    }
  }

  &__content {
    padding: 1rem 0 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    .input {
      display: flex;
      svg {
        color: #bec1c3;
      }
      input {
        border: none;
        outline: none;
      }
      &.link__title {
        margin-bottom: 0.5rem;
        font-weight: bold;
        input {
          font-weight: bold;
        }
      }
    }
  }

  &__actions {
    display: flex;
    margin-top: auto;
    > div {
      margin-right: 1rem;
      opacity: 0.5;
      cursor: pointer;
      transition: opacity 300ms ease;
      &:hover {
        opacity: 0.8;
      }
    }

    .trash {
      margin-left: auto;
    }
  }
}
